/* font-face definitions */
/* http://openfontlibrary.org/en/font/vds */
/* VDS */
@font-face {
    font-family: "VDS";
    src: url("/font/VDS_New.woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VDS";
    src: url("/font/VDS_Bold_New.woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "VDS";
    src: url("/font/VDS_Bold_Italic_New.woff");
    font-weight: bold;
    font-style: italic;
}
/* VDS Thin */
@font-face {
    font-family: "VDS";
    src: url("/font/VDS_Thin.woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "VDS";
    src: url("/font/VDS_Thin_Ita.woff");
    font-weight: 300;
    font-style: italic;
}
/* VDS Compensated Light */
@font-face {
    font-family: "VDSCompensatedLight";
    src: url("/font/VDS_Compensated_Light.woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VDSCompensatedLight";
    src: url("/font/VDS_Compensated_Light_Italic.woff");
    font-weight: normal;
    font-style: italic;
}
/* http://openfontlibrary.org/en/font/fifteen */
/* Quinze Narrow */
@font-face {
    font-family: "QuinzeNarrow";
    src: url("/font/QuinzeNarrow.woff");
    font-weight: normal;
    font-style: normal;
}

/* Font defaults */
body {
    color: rgb(0, 0, 0);
    font-family: VDS, Verdana, Geneva, sans-serif;
    font-size: medium;
    font-style: normal;
    font-weight: 300;
}

pre {
    font-weight: normal;
    font-family: QuinzeNarrow, "Courier New", Courier, monospace;
}

/* Body */
body {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0;
}

/* Link defaults */
a:link {
    color: rgb(255, 120, 0);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 120, 0);
}

a:link:hover {
    text-decoration: underline;
}

a:link:active {
}

/* Lists */
ul {
    list-style-type: square;
}

ul.commasep {
    list-style: none;
    display: inline;
    padding: 0;
}

ul.commasep li {
    display: inline;
}

ul.commasep li:after {
    content: ", ";
}

ul.commasep li:last-child:after {
    content: ""
}

/* Media optimizations */
@media ( min-width : 720px ) {
    body {
        width: 720px;
        margin: 0 auto;
    }
}
@media ( max-width : 640px ) {
    body {
        font-size: small;
    }
}
@media ( max-width : 360px ) {
    body {
        font-size: x-small;
    }
}
