/* TODO, @import font-face definitions? */

/* Font defaults */
body {
    color: rgb(0, 0, 0);
    font-family: merriweather, sans-serif;
    font-size: medium;
    font-style: normal;
    font-weight: 300;
}

pre {
    font-weight: normal;
    font-family: monospace; /* TODO, find new mono webfont */
}

/* Body */
body {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0;
}

/* Link defaults */
a:link {
    color: rgb(255, 120, 0);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 120, 0);
}

a:link:hover {
    text-decoration: underline;
}

a:link:active {
}

/* Lists */
ul {
    list-style-type: square;
}

ul.commasep {
    list-style: none;
    display: inline;
    padding: 0;
}

ul.commasep li {
    display: inline;
}

ul.commasep li:after {
    content: ", ";
}

ul.commasep li:last-child:after {
    content: ""
}

/* Media optimizations */
@media ( min-width : 720px ) {
    body {
        width: 720px;
        margin: 0 auto;
    }
}
@media ( max-width : 640px ) {
    body {
        font-size: small;
    }
}
@media ( max-width : 360px ) {
    body {
        font-size: x-small;
    }
}
