/* Open Sans */
@font-face {
    font-family: 'open_sans';
    src: url('../font/open-sans/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans';
    src: url('../font/open-sans/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'open_sans';
    src: url('../font/open-sans/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans';
    src: url('../font/open-sans/opensans-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'open_sans';
    src: url('../font/open-sans/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans';
    src: url('../font/open-sans/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'open_sans';
    src: url('../font/open-sans/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans';
    src: url('../font/open-sans/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'open_sans';
    src: url('../font/open-sans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans';
    src: url('../font/open-sans/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

/* Merriweather */
@font-face {
    font-family: 'merriweather';
    src: url('../font/merriweather/merriweather-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather';
    src: url('../font/merriweather/merriweather-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'merriweather';
    src: url('../font/merriweather/merriweather-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather';
    src: url('../font/merriweather/merriweather-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'merriweather';
    src: url('../font/merriweather/merriweather-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather';
    src: url('../font/merriweather/merriweather-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'merriweather';
    src: url('../font/merriweather/merriweather-black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather';
    src: url('../font/merriweather/merriweather-heavyitalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

/* Font defaults */
h1,h2,h3,h4,h5,h6 {
    color: #000000;
    font-family: open_sans, sans-serif;
    font-style: normal;
    font-weight: 800;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

body {
    color: #000000;
    font-family: merriweather, serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
}

pre {
    font-weight: normal;
    font-family: monospace; /* TODO, find new mono webfont */
}

/* Body */
body {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0;
}

/* Link defaults */
a:link {
    color: rgb(255, 120, 0);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 120, 0);
}

a:link:hover {
    text-decoration: underline;
}

a:link:active {
}

/* Lists */
ul {
    list-style-type: square;
}

ul.commasep {
    list-style: none;
    display: inline;
    padding: 0;
}

ul.commasep li {
    display: inline;
}

ul.commasep li:after {
    content: ", ";
}

ul.commasep li:last-child:after {
    content: ""
}

/* Media optimizations */
@media ( min-width : 720px ) {
    body {
        width: 720px;
        margin: 0 auto;
    }
}
@media ( max-width : 640px ) {
    body {
        font-size: small;
    }
}
@media ( max-width : 360px ) {
    body {
        font-size: x-small;
    }
}
